body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: #f2f2f2; /* White-grey background */
    color: #333;
}

html, body {
    height: 100%;
}

.authenticated-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}

.logo-container {
    text-align: center;
    margin-top: 20px;
}

.logo {
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px; /* Adjust margin as needed */
}

.logo img {
    max-width: 100px; /* Adjust the value as needed */
    height: auto;
    border-radius: 50%;
}

.title-container {
    text-align: center;
    margin-top: 20px;
}

.title {
    font-size: 24px;
    text-size: 48px;
}

.websites-container {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.website {
    margin: 10px;
}

.website-box {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.website h2 {
    font-size: 20px;
    color: #333;
}

.website p {
    margin-top: 10px;
    color: #555;
}

.website a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.website a:hover {
    background-color: #2980b9;
}

.website-logo {
    max-width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.footer {
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #333;
    color: #fff;
}

.subtitle {
    font-size: 18px;
    text-size: 24px;
}

p {
    font-size: 14px;
}
.experience-container {
    text-align: center;
    margin-top: 20px;
}

.experience-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px auto;
}

.experience-item h2 {
    font-size: 20px;
    color: #333;
}

.experience-item p {
    margin-top: 10px;
    color: #555;
}

.social-media-container {
    text-align: center;
    margin-top: 20px;
}

.social-media-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px auto;
}

.social-media-item h2 {
    font-size: 20px;
    color: #333;
}

.social-media-item p {
    margin-top: 10px;
    color: #555;
}

.social-media-item a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.social-media-item a:hover {
    background-color: #2980b9;
}
button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    border: none; /* Remove default button border */
    cursor: pointer; /* Ensure buttons get a pointer cursor */
}

a:hover, button:hover {
    background-color: #2980b9;
}

a:focus, button:focus {
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.5); /* Add custom focus outline */
}
